/*Overall*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body
{
    background-color: #CCC;
}

.bold
{
    font-weight: bold;
}

/*NAVBAR*/
.navbar
{
    font-size: 1.5rem;
    height: 75px;
}

.navbar-brand
{
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    letter-spacing: .1rem;
    margin-bottom: 0;
    padding: 0;
    margin-left: 25px;
    /* font-variant: small-caps; */
}

.nav.link
{
    padding: 0 !important;
}

/*INDEX*/
.c0
{
    background-image: url(Kepek/256.jpg);
    height: 750px;
    width: 100%;
    background-position: right;
    background-size: cover;
    color: white;
    text-shadow: 2.5px 2px black;
}

.c0 h1
{
    font-size: 3rem;
    padding-top: 300px;
}

/*SUPPORT*/
#problemArea
{
    resize: none;
}