/*Overall*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body
{
    background-color: #EEE;
}

.bold
{
    font-weight: bold;
}

.card
{
    border: #EEE solid 1rem;
}

/*NAVBAR*/
#navbar
{
    position: fixed;
    top: 0;
    transition: top .3s;
    width: 100%;
}

.navbar
{
    font-size: 1.5rem;
    height: 75px;
    z-index: 20;
}

.navbar-nav
{
    z-index: 20;
    background-color: rgb(33, 37, 41);
    padding: 0 30px;
}

.dropdown-menu
{
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.navbar-brand
{
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    letter-spacing: .1rem;
    margin-bottom: 0;
    padding: 0;
    margin-left: 25px;
    /* font-variant: small-caps; */
}

.nav.link
{
    padding: 0 !important;
}

/*INDEX*/
.chapter
{
    height: 40vw;
    min-height: 450px;
    width: 100%;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 2.5px 2px black;
    margin-top: -.5rem;
}

.chapter h1
{
    padding-top: 15vw;
}

.chapter p
{
    font-size: 1.5rem;
}

.chapter .btn
{
    background-color: #EEE;
    text-shadow: none;
    transition: .1s;
}

.chapter .btn:hover
{
    transform: scale(120%);
    color: black;
    transition: .1s;
}

.c0
{
    background-image: url(Kepek/c0-splash.jpg);
}

.c0 h1
{
    font-size: 3rem;
}

.c1
{
    background-image: url(Kepek/c1-splash.jpg);
}

.c2
{
    background-image: url(Kepek/c2-splash.jpg);
}

.c3
{
    background-image: url(Kepek/c3-splash.jpg);
}

.c4
{
    background-image: url(Kepek/c5-splash.jpg);
}

.c5
{
    background-image: url(Kepek/c4-splash.jpg);
}

.c6
{
    background-image: url(Kepek/c6-splash.jpg);
}

.c7
{
    background-image: url(Kepek/c7-splash.jpg);
}

/*SUPPORT*/
#problemArea
{
    resize: none;
}

/*GPU*/
#GPUs
{
    overflow: hidden;
}

/*ALAPLAPOK*/
#intelCheckbox, #amdCheckBox
{
    accent-color: #000;
    width: 2rem;
    height: 2rem;
}

#intel, #amd
{
    display: none;
}