/*Overall*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body
{
    background-color: #DEDEDE;
}

.bold
{
    font-weight: bold;
}

/*NAVBAR*/
.navbar
{
    font-size: 1.5rem;
    height: 75px;
    z-index: 20;
}

.navbar-brand
{
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    letter-spacing: .1rem;
    margin-bottom: 0;
    padding: 0;
    margin-left: 25px;
    /* font-variant: small-caps; */
}

.nav.link
{
    padding: 0 !important;
}

/*INDEX*/
.chapter
{
    height: 40vw;
    min-height: 450px;
    width: 100%;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 2.5px 2px black;
    margin-top: -.5rem;
}

.chapter p
{
    font-size: 1.5rem;
}

.chapter .btn
{
    background-color: #DDD;
    text-shadow: none;
}

.c0
{
    background-image: url(Kepek/c0-splash.jpg);
}

.c0 h1
{
    font-size: 3rem;
    padding-top: 15vw;
}

.c1
{
    background-image: url(Kepek/c1-splash.jpg);
}

.c1 h1
{
    padding-top: 15vw;
}

.c2
{
    background-image: url(Kepek/c2-splash.jpg);
}

/*SUPPORT*/
#problemArea
{
    resize: none;
}