/* GPU */

.typeSelect {
    text-decoration: none;
    color: black;
}

.typeSelect:hover {
    cursor: pointer;
}

.gpuCard {
    background-color: #8d8d8a;
}

.card-body {
    width: 110%;
    margin: 0 -5%;
    border-radius: 0 0 .4rem .4em;
    background-color: #333;
}

.gpuButton {
    background-color: white;
    color: black;
}

.gpuButton:hover {
    background-color: black;
    color: white;
}

.backArrow {
    color: black;
    transform: rotate(-90deg) !important;
    size: 130%;
    text-decoration: none;
    display: block;
}
