/* GPU */

.typeSelect {
    text-decoration: none;
    color: black;
}

.typeSelect:hover {
    cursor: pointer;
}

.gpuCard {
    background-color: #8d8d8a;
    /* height: 440px; */
    /* background-color: transparent; */
}


.gpuButton {
    background-color: white;
    color: black;
}

.gpuButton:hover {
    background-color: black;
    color: white;
}

.backArrow {
    color: black;
    transform: rotate(-90deg) !important;
    size: 1.3rem;
    text-decoration: none;
    display: block;
}
